*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
    text-decoration: none;
  }

  html, body {
    height: 100%;
  }

  /* ----------connection---------------- */

  /* formulaire de connexion */

.connexion-fm {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-connexion{
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-register{
 max-width: 350px;
 margin: 0 auto;
}

.form-connexion .checkbox {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-connexion .form-floating:focus-within {
  z-index: 2;
}

.form-connexion input[type="email"] {
  margin-bottom: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-connexion input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#bouton-form{
  background-color: #00A99D;
}

/* Home */

body{
  background-color: #f5f5f5;
}

#btn-form{
  background-color: #00A99D;
}

.image-friends{
  background-image: url(../brand/friends.jpg);
  object-fit: cover;
  width: 100%;
  height: 450px;
  background-position: 40% 70%;
}

.intro{
  display: flex;
  flex-flow: row wrap;
}

.btn-start{
  text-transform: uppercase;
  background-color: hsl(176, 100%, 33%);
  color: #ffffff;
}

.btn-start:hover{
  background-color: #ffffff;
  border: 1px solid #00A99D;
}

.image-women{
  width: 100%;
}

/* inscription */

.btn-valid{
  background-color: #00A99D;
  color: rgb(255, 255, 255);
}

.inscription{
  max-width: 60%;
  min-width: 320px;

}

/* ----------Footer--------------- */
.ligne {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.card{
  background-color: #00A99D;
}

#bloc-intro, #bloc-center {
  margin-bottom: 150px;
}

