*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  body{
    position: relative;
    height: 100vh;
    background-color: #f1f1f1;
  }
  
  a{
    text-decoration: none;
  }

  /* header et navigation + logo */
#btn-form{
  background-color: #00A99D;
}

/* image du header */
.image-friends{
  background-image: url(../brand/friends.jpg);
  object-fit: cover;
  width: 100%;
  height: 450px;
  background-position: 40% 70%;
}

/* bloc intro Image jeune fille */
.btn-start{
  text-transform: uppercase;
  background-color: #00A99D;
  color: #ffffff;
}

/* --------effet survol---------------------- */
.btn-start:hover{
  background-color: #ffffff;
  border: 1px solid #00A99D;
}

/* --- image de la jeune fille------- */
.image-women{
  width: 100%;
}

/* couleur carte */
.card{
  background-color: #00A99D;
}

#bloc-center{
  margin-top: 50px;
  margin-bottom: 250px;
}

#bouton-form{
  background-color: #00A99D;
}

.form-register{
  max-width: 350px;
  margin: 70px auto 90px;
 }

.btn-valid{
  background-color: #00A99D;
  color: rgb(255, 255, 255);
}

.inscription{
  max-width: 60%;
  min-width: 320px;

}

#contact{
  width: 60%;
}

.nav-item> a{
  text-decoration: none;
 
}

.nav-item> a> span{
  color: black;
}


/* ----------Footer--------------- */

.foot {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

footer{
  position: static;
  bottom: 0;
  width: 100%;
}